.search{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    gap: 1em;
    padding: 6px 20px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.search input{
    width: 100%;
    padding: 1px 0;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
}
